@charset "utf-8";
body {
	font-family: "effraregular";
	font-size: 16px;
	background-color: #42413C;
	margin: 0;
	padding: 0;
	color: #000;
}


ul, ol, dl { 
	padding: 0;
	margin: 0;
}
h1, h2, h3, h4, h5, h6, p {
	margin-top: 0;	
	padding-right: 15px;
	padding-left: 15px; 
}
a img { 
	border: none;
}

a:link {
	color: #42413C;
	text-decoration: underline; 
}
a:visited {
	color: #6E6C64;
	text-decoration: underline;
}
a:hover, a:active, a:focus {
	text-decoration: none;
}

.container {
	max-width: 100%;
	background-color: #FFF;
	margin: 0 auto; 
}

.header {
	background:url(../images/FifthThirdBank1740x480.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;
	background-color: #0c5990;
	height: 478px;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	z-index: 0;
}

.colorOverlay{
	background: rgba(12,89,144,0.80);
	height: 100%;
	width: 100%;
	color: #0c5990;
	opacity: 80%;
	z-index: 1;
}

.logo{
	background:url(../logos/logo-cardinal.png);
	background-repeat: no-repeat;
	height: 8.5%;
	max-width: 140px;
	margin-left: 5%;
	z-index: 2;
}

.subtitle{
	margin-left: 10.5%;
	margin-right: 10.5%;
	font: "effraregular";
	font-weight: bold;
	color: #FFF;
	font-size: 2.1em;
	text-align: center;
}

.content {
	
}

.about{
	background-color: #f0f0f0;
	height: 280px;
	width: 100%;
	max-width: 100%;
	overflow: hidden;
	z-index: 0;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}

.about .column{
	flex: 1;
	margin: 2px;
	max-width: 20%;
	padding: 10px;
	padding-left: 0px !important;
	margin-left: 0px !important;
}

.svg {
	display: inline-block;
	width: 40px;
	height: 40px;
	background-color: transparent;
}
#atom {
	background-image: url(../icons/icon-bi.svg);
	background-repeat: no-repeat;
}
#app {
	background-image: url(../icons/icon-appdev.svg);
	background-repeat: no-repeat;
}
#bulb {
	background-image: url(../icons/icon-ba.svg);
	background-repeat: no-repeat;
}

.clients{
	background-color: #ffffff;
	height: 560px;
	width: 100%;
	max-width: 100%;
	overflow: visible;
	z-index: 0;
	display: flex;
	flex-flow: wrap;
	justify-content: center;
}
.clients .grid{
	display: grid;
  	grid-gap: 2%;
	padding-left: 15%;
	padding-right: 15%;
  	grid-template-columns: repeat(auto-fit, minmax(100px, 2fr));
}
.grid>div:first-child {
	grid-column: span 4;
	background-color: #383d49;
	color: #FFF;
	padding-left: 10%;
	padding-bottom: 5%;
	padding-top: 7%;
	padding-right: 10%;
}
.grid>* {
	grid-column: span 2;
	align-text: center;
	background-color: #ffffff;
	border: medium;
	border-color: #eaebed;
	z-index: 3;
	box-shadow: 2px 2px grey;
}
.grid>*>img {
	display: block;
	margin: auto;
	margin-top: 30%;
}


.footer {
	padding: 10px 0;
	background-color: #d8d8d8;
}


.fltrt {  
	float: right;
	margin-left: 8px;
}
.fltlft { 
	float: left;
	margin-right: 8px;
}
.clearfloat { 
	clear:both;
	height:0;
	font-size: 1px;
	line-height: 0px;
}