$icon-width: 32px;
$icon-height: 32px;

.icon {
	float: left;
	margin: 10px;
    width: $icon-width;
    height: $icon-height;
    display: block;
    &.vertically-centred {
		margin-top: -1 * ($icon-height / 2);
    }
}
