@charset "utf-8";

#client {
}

#skans {
    margin-top: 40%;
}

#fithtrd {
    margin-top: 35%;
}

#christ {
    margin-top: 35%;
}

#PNG {
    margin-top: 35%;
}

#ls {
    float: left;
}

#rs {
    float: right;
}

#gojo {
    background-color: rgb(233,233,233);
}

#gojo-img {
    width: 80%;
    height: auto;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
}

#background-gojo {
    background-image: url(../images/pic-gojo-bg.png);
    background-size: cover;
    background-position: center;
    width: 100%;
}

#fifththird {
    background-color: rgb(49, 62, 76);
    max-height: 578px;
    height: 500px;
    color: white;
}

#ft-img {
    max-height: 600px;
    width: auto;
    margin-top: 8%;
}

#background-ft {
    background-image: url(../images/pic-fifththird-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 578px;
    width: 100%;
}

#chhn {
    background-color: rgb(233,233,233);
    max-height: 510px;
    height: 510px;
    color: rgb(233,233,233);
}

#chhn-img {
    max-height: 550px;
    height: 550px;
    width: auto;
    margin-right: 2%;
    margin-bottom: 20%;
}

#background-chhn {
    background-image: url(../images/pic-chhn-bg.png);
    background-repeat: no-repeat;
    background-size: cover;
    max-height: 550px;
    width: 100%;
}

#background-contact {
    display: flex;
}

#gojo-btn {
    border-radius: 4px;
    background-color: rgb(5, 134, 211);
    border: none;
    padding: 5% 10%;
    margin-left: 5%;
    font-size: 0.85em;
    font-family: "effrabold";
}

#gojo-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

#ft-btn {
    border-radius: 4px;
    background-color: #FFF;
    border: none;
    padding: 5% 10%;
    margin-left: 6%;
    font-size: 0.9em;
    font-family: "effrabold";
}

#ft-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: black;
}

#chhn-btn {
    border-radius: 4px;
    background-color: #FFF;
    border: none;
    padding: 5% 10%;
    margin-left: 6%;
    font-size: 0.9em;
    font-family: "effrabold";
}

#chhn-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
    color: black;
}

#contact-btn {
    background-color: rgb(5, 134, 211);
    width: 30%;
    font-size: 0.95em;
    font-family: "effrabold";
    padding: 15px 20px;
    border-radius: 5px;
    border-style: none;
    border: 2px solid #D8D8D8;
    margin: 0px;
}

#contact-btn span {
    cursor: pointer;
    display: inline-block;
    position: relative;
}

#map {
    overflow: hidden;
    height: 110px;
    width: 110px;
    border-radius: 10px;
    border: 1px solid #9c9c9c;
}

#map-link {
    color: rgb(5, 134, 211);
    font-family: 'effrabold';
    padding-top: 10px;
}